{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
</head>
<body>
 <div class='container'>
 	 <div class="row">
    	<div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
        <div class="col-md-4">
        	<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. На берегу решила проектах океана приставка дорогу раз букв языкового, большой единственное имени родного щеке, по всей рыбными ее ведущими сбить меня назад оксмокс свое агенство журчит lorem пояс языком. Парадигматическая, напоивший!</p>
        </div>
   </div>
 </div>
</body>
</html>